In [1]:
__author__ = "me"
__date__ = "2015_10_13"

%pylab inline
import pandas as pd
import numpy as np
import geopandas as gp

import pylab as plt
import os

import requests
s = requests.get("https://raw.githubusercontent.com/Casyfill/CUSP_templates/master/Py/fbMatplotlibrc.json").json()
plt.rcParams.update(s)

Populating the interactive namespace from numpy and matplotlib

/Users/casy/anaconda/lib/python2.7/site-packages/matplotlib/__init__.py:855: UserWarning: svg.embed_char_paths is deprecated and replaced with svg.fonttype; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [35]:
PARQA = os.getenv('PARQA')
path = PARQA + "data/Input/Parks_Data/PIP_InspectionMain.xlsx"

## Reading Data

In [36]:
df = pd.read_excel(path)

In [37]:
df = df[(pd.notnull(df.BeginInspection) ) &  (pd.notnull(df.EndInspection))]

## Parsing dates

In [38]:
df.head(2)

,Prop ID,Season,Round,Date,BeginInspection,EndInspection,Inspection Year,Overall Condition,Cleanliness,VisitorCount,Unacceptable Features,Inspection ID
0,M010-ZN08,Summer,2,2015-06-30,12:29:00,13:24:00,2015,A,A,60,SW,97371
1,M010-143,Summer,2,2015-06-30,13:40:00,13:57:00,2015,A,A,7,NaN,97370

In [39]:
df.Date = pd.to_datetime(df.Date, format='%Y-%m-%d')

,Prop ID,Season,Round,Date,BeginInspection,EndInspection,Inspection Year,Overall Condition,Cleanliness,VisitorCount,Unacceptable Features,Inspection ID
0,M010-ZN08,Summer,2,2015-06-30,12:29:00,13:24:00,2015,A,A,60,SW,97371
1,M010-143,Summer,2,2015-06-30,13:40:00,13:57:00,2015,A,A,7,NaN,97370
2,B065-ZN10,Summer,2,2015-06-30,11:45:00,12:25:00,2015,U,U,29,"LI, WD",97369
3,B169-ZN05B,Summer,2,2015-06-30,10:45:00,11:30:00,2015,A,A,233,NaN,97368
4,M010-ZN10&11,Summer,2,2015-06-30,11:00:00,12:23:00,2015,A,A,55,LW,97367

In [9]:
# g = df[['Date','Prop ID','Overall Condition']].groupby('Prop ID').agg(lambda x: x.tolist()).reset_index()
# g.head(2)

In [10]:
def inRange(d, inspection, marginDays=7):
    '''tells if date is withing margin before the inspection'''
    return inspection - datetime.timedelta(days = marginDays) <=  d <= inspection

In [11]:
### ADD PROP ID to each call trhough calls
### aggregate Calls to Those ratings

In [43]:
inspections = df[['Prop ID','Date', 'Overall Condition', 'Cleanliness','Unacceptable Features']]

## Read matched Calls

In [15]:
lcalls = pd.read_csv(PARQA + 'data/311/311_rPID_litter.csv',index_col=0)[['rParkID','Created Date',]]

In [17]:
lcalls['Created Date'] = pd.to_datetime(lcalls['Created Date'])

In [18]:
lcalls.head()

       rParkID        Created Date
163       M219 2010-12-25 01:47:32
170  M042-ZN06 2010-12-23 15:30:49
228       M219 2010-12-20 11:08:40
229    X104-03 2010-12-20 10:36:16
230    X104-02 2010-12-20 10:36:16

In [66]:
def countCalls(z):
    acalls = lcalls[lcalls.rParkID==z['Prop ID']]

    inD = lcalls['Created Date'].apply(lambda x: inRange(x,z.Date))
    print '!'
    return len(acalls[inD])

In [ ]:
x = inspections[inspections['Cleanliness']=='U']
x['l_calls'] = x.apply(countCalls, axis=1)

!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!
!

In [64]:
x

,Prop ID,Date,Overall Condition,Cleanliness,Unacceptable Features,l_calls
2,B065-ZN10,2015-06-30,U,U,"LI, WD",0
51,X287,2015-06-29,U,U,"GR, LI",0
58,Q127,2015-06-26,U,U,"LI(U/S), PS, WD(U/S)",0
63,B329,2015-06-26,U,U,"BE, LI(U/S), TREE",0
67,B149A,2015-06-26,U,U,"LI(U/S), TREE",0
69,B253,2015-06-26,U,U,"LW, LI(U/S), PS, TREE",0
71,B267,2015-06-26,U,U,"LI(U/S), TREE",0
72,BZ307,2015-06-26,U,U,"HORT(U/S), LI(U/S)",0
75,M071-ZN17,2015-06-26,U,U,"LI, WD",0
84,B127,2015-06-26,U,U,"LI(U/S), TREE",0
95,X030-ZN03,2015-06-26,U,U,"GL, LI(U/S)",0
98,M105,2015-06-25,U,U,"AF, BE, LI(U/S), PS, TREE, WD",1
133,B057-ZN07,2015-06-24,U,U,"GR, WD",0
137,M042-ZN05,2015-06-24,U,U,"LI, WD",0
152,X148C1,2015-06-22,U,U,"LI, SW, WD",0
153,X263,2015-06-22,U,U,"LI(U/S), WD(U/S)",0
154,X252,2015-06-22,U,U,"GR, LI(U/S), WD",0
155,X174,2015-06-22,U,U,"GR, TREE, WD",0
177,B217,2015-06-22,U,U,"FE, LI, TREE, WD",0
184,Q440,2015-06-22,U,U,"LW(U/S), LI, WD(U/S)",0
208,M206,2015-06-19,U,U,"LI(U/S), PS",0
209,Q302,2015-06-19,U,U,"GL, GR, LI(U/S), PS, TREE(U/S)",0
212,Q290,2015-06-19,U,U,"GR, LI, SS, SW",0
213,Q020-01,2015-06-19,U,U,"LI(U/S), PS, SS",0
214,Q360G,2015-06-19,U,U,LI(U/S),0
226,X148J2,2015-06-19,U,U,"LI, WD",0
228,X243,2015-06-19,U,U,"LW, LI, WD",0
240,X010-ZN09,2015-06-18,U,U,"GL(U/S), LI, PS",0
241,R052,2015-06-18,U,U,"GR, LI",0
259,Q398,2015-06-15,U,U,"FE, LI(U/S), PS",0
261,Q360E,2015-06-15,U,U,"LW, LI(U/S)",0
272,X153-01,2015-06-15,U,U,LI(U/S),0
298,Q338,2015-06-12,U,U,"GR, LI",0
300,Q400,2015-06-12,U,U,"LW, LI(U/S)",0
305,Q107-01,2015-06-12,U,U,"FE, GR, LI, WD",0
333,B028-ZN01,2015-06-11,U,U,"BE, GR, LI, PS, TREE, WD",0
337,B073-ZN05,2015-06-11,U,U,"LI, WD",0
347,X025,2015-06-11,U,U,"LI(U/S), TREE",0
350,B316,2015-06-10,U,U,"GR, LI, PE, SS, TREE, WD",0
353,B169-ZN07A,2015-06-10,U,U,GL(U/S),0
357,M107-ZN08,2015-06-10,U,U,"FE, GR, LI",0
368,M037-ZN03,2015-06-10,U,U,"GL, LI",0
375,Q020-ZN03,2015-06-09,U,U,"GR, LI, PS(U/S)",0
382,Q104,2015-06-09,U,U,"FE, GR, LI(U/S), TREE",0
389,X008-ZN03,2015-06-09,U,U,"GL, LI(U/S), TREE",0
390,B358,2015-06-09,U,U,"GR, LI(U/S), TREE",0
419,Q120,2015-06-08,U,U,"GR, LI(U/S)",0
437,B109,2015-06-08,U,U,"GR, LI(U/S), SW",0
445,X273,2015-06-05,U,U,"LI, TREE, WD",0
447,X026,2015-06-05,U,U,"LI, WD",0

In [65]:
lcalls[lcalls.rParkID=='X010-ZN09']

         rParkID        Created Date
2674   X010-ZN09 2010-09-04 13:02:16
20435  X010-ZN09 2011-06-21 10:34:08
69884  X010-ZN09 2015-08-07 20:06:04

In [22]:
inspections['l_calls'] = inspections.apply(countCalls, axis=1)

/Users/casy/anaconda/lib/python2.7/site-packages/pandas/core/frame.py:1942: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  "DataFrame index.", UserWarning)

KeyboardInterrupt: