In [95]:
# __author__ = "Philipp Kats"
# __date__ = "2015_11_05"
%pylab inline
import pandas as pd
import geopandas as gp
import numpy as np

from geopandas.tools import sjoin
from shapely.geometry import Point

import os


PARQA = os.getenv('PARQA') #basic path

Populating the interactive namespace from numpy and matplotlib

In [77]:
calls = pd.read_csv(PARQA + 'data/311/311DPR.csv', encoding='utf8', na_values='Unspecified')
# calls = calls.rename(columns={'Longitude':'lon','Latitude':'lat'})

In [78]:
calls.shape

(82590, 54)

In [79]:
calls.columns

Index([                    u'Unnamed: 0',                     u'Unique Key',
                         u'Created Date',                    u'Closed Date',
                               u'Agency',                    u'Agency Name',
                       u'Complaint Type',                     u'Descriptor',
                        u'Location Type',                   u'Incident Zip',
                     u'Incident Address',                    u'Street Name',
                       u'Cross Street 1',                 u'Cross Street 2',
                u'Intersection Street 1',          u'Intersection Street 2',
                         u'Address Type',                           u'City',
                             u'Landmark',                  u'Facility Type',
                               u'Status',                       u'Due Date',
               u'Resolution Description', u'Resolution Action Updated Date',
                      u'Community Board',                        u'Borough',
           u'X Coordinate (State Plane)',     u'Y Coordinate (State Plane)',
                   u'Park Facility Name',                   u'Park Borough',
                          u'School Name',                  u'School Number',
                        u'School Region',                    u'School Code',
                  u'School Phone Number',                 u'School Address',
                          u'School City',                   u'School State',
                           u'School Zip',               u'School Not Found',
         u'School or Citywide Complaint',                   u'Vehicle Type',
                 u'Taxi Company Borough',          u'Taxi Pick Up Location',
                  u'Bridge Highway Name',       u'Bridge Highway Direction',
                            u'Road Ramp',         u'Bridge Highway Segment',
                      u'Garage Lot Name',                u'Ferry Direction',
                  u'Ferry Terminal Name',                       u'Latitude',
                            u'Longitude',                       u'Location'],
      dtype='object')

In [80]:
myCalls = calls[['Park Facility Name','Descriptor','Created Date','Closed Date','Longitude','Latitude','Location Type']]
myCalls['Park Facility Name'] = myCalls['Park Facility Name'].str.lower()
myCalls['Park Facility Name'].head()

/Users/casy/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

0                                    NaN
1    geo soilan park - battery park city
2                        brookville park
3                                    NaN
4                                    NaN
Name: Park Facility Name, dtype: object

In [81]:
myCalls[pd.isnull(myCalls['Park Facility Name'])]

,Park Facility Name,Descriptor,Created Date,Closed Date,Longitude,Latitude,Location Type
0,NaN,Snow or Ice,12/31/2010 09:04:48 PM,01/03/2011 12:03:59 PM,-73.931120,40.668798,Park
3,NaN,Snow or Ice,12/31/2010 03:36:37 PM,01/03/2011 09:41:24 AM,-73.962835,40.688556,Park
4,NaN,Snow or Ice,12/31/2010 03:03:16 PM,01/03/2011 12:15:38 PM,-73.999809,40.636935,Park
6,NaN,Snow or Ice,12/31/2010 12:59:59 PM,01/03/2011 12:23:04 PM,-73.999456,40.609951,Park
7,NaN,Snow or Ice,12/31/2010 12:12:02 PM,01/03/2011 12:19:51 PM,-73.977616,40.633153,Park
8,NaN,Snow or Ice,12/31/2010 12:08:23 PM,01/03/2011 02:33:24 PM,-73.962486,40.705351,Park
9,NaN,Dead Animal,12/31/2010 11:27:06 AM,01/04/2011 11:02:35 AM,-73.983284,40.672797,Park
16,NaN,Snow or Ice,12/31/2010 09:04:23 AM,01/06/2011 03:04:46 PM,-73.870572,40.733116,Park
23,NaN,Snow or Ice,12/30/2010 09:35:00 PM,01/03/2011 01:34:56 PM,-74.103509,40.616415,Park
25,NaN,Snow or Ice,12/30/2010 09:20:45 PM,01/03/2011 02:35:28 PM,-73.960783,40.706465,Park
30,NaN,Snow or Ice,12/30/2010 05:51:27 PM,01/03/2011 11:30:23 AM,-73.961902,40.654871,Park
38,NaN,Snow or Ice,12/30/2010 02:02:58 PM,01/04/2011 03:32:15 PM,-73.870093,40.736522,Park
40,NaN,Snow or Ice,12/30/2010 01:54:39 PM,01/03/2011 12:23:02 PM,-74.000022,40.609386,Park
41,NaN,Snow or Ice,12/30/2010 01:45:21 PM,01/05/2011 03:55:16 PM,-73.917700,40.770392,Park
47,NaN,Snow or Ice,12/30/2010 12:07:18 PM,12/30/2010 04:14:57 PM,-74.160423,40.528118,Park
50,NaN,Snow or Ice,12/30/2010 11:37:25 AM,01/03/2011 02:30:14 PM,-73.951624,40.714067,Park
51,NaN,Snow or Ice,12/30/2010 11:33:56 AM,01/03/2011 02:29:13 PM,-73.954638,40.711323,Park
55,NaN,Snow or Ice,12/30/2010 10:42:08 AM,12/30/2010 11:34:12 AM,-73.957224,40.699999,Park
60,NaN,Snow or Ice,12/30/2010 09:58:57 AM,12/30/2010 12:12:38 PM,-73.955732,40.822892,Park
61,NaN,Snow or Ice,12/30/2010 09:52:31 AM,01/04/2011 11:44:02 AM,-73.885164,40.883633,Park
67,NaN,Snow or Ice,12/29/2010 07:56:06 PM,12/30/2010 11:38:24 AM,-73.962835,40.688556,Park
70,NaN,Snow or Ice,12/29/2010 06:37:21 PM,12/30/2010 11:35:15 AM,-73.964183,40.708719,Park
71,NaN,Snow or Ice,12/29/2010 06:22:52 PM,12/30/2010 11:42:32 AM,-73.961364,40.706997,Park
73,NaN,Snow or Ice,12/29/2010 06:09:58 PM,12/30/2010 11:40:28 AM,-73.961861,40.707596,Park
77,NaN,Snow or Ice,12/29/2010 05:26:50 PM,01/04/2011 03:26:52 PM,-73.870572,40.733116,Park
80,NaN,Snow or Ice,12/29/2010 02:34:51 PM,12/29/2010 03:26:36 PM,-73.958597,40.620607,Park
83,NaN,Snow or Ice,12/29/2010 01:54:48 PM,12/29/2010 03:22:21 PM,-74.038364,40.616513,Park
91,NaN,Snow or Ice,12/29/2010 09:59:04 AM,01/04/2011 11:44:04 AM,-73.916885,40.879658,Park
94,NaN,Snow or Ice,12/28/2010 09:50:25 PM,01/04/2011 11:44:06 AM,-73.909054,40.863033,Park
96,NaN,Structure - Outdoors,12/28/2010 07:56:28 PM,12/30/2010 04:27:20 PM,-73.960952,40.818612,Park
...,...,...,...,...,...,...,...
82519,NaN,Tree Alive - in Poor Condition,01/06/2015 10:59:50 AM,NaN,-73.924303,40.676001,NaN
82521,NaN,Snow or Ice,01/06/2015 10:22:02 AM,01/15/2015 02:57:40 PM,-74.005128,40.735961,Park
82522,NaN,Snow or Ice,01/06/2015 10:15:03 AM,01/06/2015 02:43:01 PM,-73.991367,40.697012,Park
82523,NaN,Branch Cracked and Will Fall,01/06/2015 09:35:53 AM,NaN,-73.850510,40.691616,NaN
82524,NaN,Structure - Indoors,01/06/2015 09:32:30 AM,02/19/2015 09:35:59 AM,-73.846056,40.737099,Park
82525,NaN,Snow or Ice,01/06/2015 09:26:40 AM,01/06/2015 09:56:28 AM,-74.002205,40.729653,Park
82528,NaN,Structure - Indoors,01/06/2015 07:41:36 AM,01/12/2015 11:39:49 AM,NaN,NaN,Park
82531,NaN,Tree Leaning/Uprooted,01/05/2015 05:59:44 PM,NaN,-73.734820,40.670162,NaN
82532,NaN,Dead/Dying Tree,01/05/2015 05:39:15 PM,03/09/2015 03:46:38 PM,-74.085252,40.622801,Park
82534,NaN,Branches Damaged,01/05/2015 03:45:24 PM,NaN,-73.850510,40.691616,NaN
82535,NaN,Branch Cracked and Will Fall,01/05/2015 03:43:43 PM,NaN,-73.850510,40.691616,NaN
82537,NaN,Trees and Sidewalks Brochure,01/05/2015 03:15:16 PM,01/06/2015 03:17:35 PM,NaN,NaN,NaN
82538,NaN,Branch Cracked and Will Fall,01/05/2015 03:01:24 PM,NaN,-73.850510,40.691616,NaN
82545,NaN,Tree Trunk Split,01/05/2015 01:01:59 PM,NaN,-73.950418,40.798176,NaN
82546,NaN,Aided/Injury,01/05/2015 12:05:59 PM,01/05/2015 12:17:17 PM,-73.970534,40.758999,Recreation Center
82548,NaN,Aided/Injury,01/05/2015 11:44:17 AM,01/05/2015 11:59:38 AM,-73.882830,40.742889,Park
82550,NaN,Dog Off Leash,01/05/2015 10:46:27 AM,01/05/2015 12:53:08 PM,-73.943378,40.776868,Park
82552,NaN,Structure - Outdoors,01/05/2015 09:51:49 AM,01/05/2015 02:26:29 PM,-74.021216,40.618472,Park
82553,NaN,Graffiti or Vandalism,01/05/2015 08:20:53 AM,01/06/2015 03:52:25 PM,-73.916529,40.886885,Park
82555,NaN,Locker Break-in/Incident,01/04/2015 04:42:07 PM,01/04/2015 05:03:47 PM,-74.006974,40.729494,Recreation Center
82557,NaN,Tree Leaning/Uprooted,01/04/2015 03:04:37 PM,01/09/2015 07:51:14 AM,-73.707398,40.751685,NaN
82559,NaN,Structure - Outdoors,01/04/2015 02:06:47 PM,01/06/2015 11:31:08 AM,-73.979137,40.654376,Park
82565,NaN,Aided/Injury,01/03/2015 03:27:35 PM,01/03/2015 04:09:25 PM,-73.832295,40.751942,Recreation Center
82566,NaN,Dog Off Leash,01/03/2015 02:17:02 PM,01/03/2015 02:26:41 PM,-73.898272,40.889459,Park
82569,NaN,Rodent Sighting,01/03/2015 11:45:27 AM,01/07/2015 11:29:23 AM,-73.909204,40.700169,Park
82571,NaN,Rodent Sighting,01/03/2015 10:11:03 AM,01/07/2015 11:27:05 AM,-73.909204,40.700169,Park
82578,NaN,Structure - Indoors,01/02/2015 12:42:15 PM,01/12/2015 11:37:36 AM,-73.745849,40.662335,Park
82581,NaN,Tree Trunk Split,01/02/2015 09:46:07 AM,01/20/2015 11:02:52 AM,-73.957093,40.662750,NaN
82586,NaN,Aided/Injury,01/01/2015 09:14:54 AM,01/01/2015 09:36:58 AM,-73.923625,40.867817,Park
82589,NaN,Branches Damaged,01/01/2015 01:06:43 AM,01/20/2015 09:19:14 AM,-73.840822,40.675856,NaN

In [82]:
## need to check the closest park and if distance is small, attach to it. 
##for now - using spatial joint to match to Disricts
print 100.0*len(myCalls[pd.isnull(myCalls['Park Facility Name'])])/len(myCalls), '%'

33.9060418937 %

In [83]:
notNamedCalls = myCalls[pd.isnull(myCalls['Park Facility Name'])]
namedCalls = myCalls[pd.notnull(myCalls['Park Facility Name'])]
print notNamedCalls.shape
print namedCalls.shape

(28003, 7)
(54587, 7)

## I. Ontology

In [85]:
onto = pd.read_csv(PARQA + 'parqa/311/ONTOLOGY/ontology/Ontology_matched.csv', index_col=0)

In [86]:
onto.head(2)

,cleanName,NAME,Type,valid,parkDistrict,lat,lon
0,geo soilan park - battery park city,battery park city,other,av,M-01,-74.016893,40.711882
1,geo soilan park - battery park city,battery park city,other,av,M-01,-74.016890,40.712719

In [84]:
ncMatched = namedCalls.merge(onto, how='left',left_on='Park Facility Name', right_on='cleanName')
ncMatched.head(1)

,Park Facility Name,Descriptor,Created Date,Closed Date,Longitude,Latitude,Location Type,cleanName,NAME,Type,valid,parkDistrict,lat,lon
0,geo soilan park - battery park city,Graffiti or Vandalism,12/31/2010 04:31:52 PM,12/31/2010 05:36:58 PM,NaN,NaN,Park,geo soilan park - battery park city,battery park city,other,av,M-01,-74.016893,40.711882

In [108]:
# ncMatched[pd.isnull(ncMatched.NAME)] # those i coldn't recognize

## II. Geolocated

In [118]:
pDistricts = gp.read_file(PARQA + 'data/SHP/Park_Districts/ParkDistrict.shp')
pD = pDistricts[['SYSTEM','geometry']]

In [119]:
def toGeoDataFrame(df, lat='Latitude',lon='Longitude'):
    '''dataframe to geodataframe'''
    df['geometry'] = df.apply(lambda z: Point(z[lon], z[lat]), axis=1)
    df = gp.GeoDataFrame(df)
    df.crs = {'init': 'epsg:4326', 'no_defs': True}
    return df

In [120]:
nn = toGeoDataFrame(notNamedCalls[pd.notnull(notNamedCalls.Longitude)])

/Users/casy/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [121]:
# nn.plot()

In [122]:
nn = nn.to_crs(pD.crs)
nn = sjoin(nn, pD, how="left").rename(columns={'SYSTEM':'parkDistrict'})
# nn.head(2)

In [107]:
nn.head()

,Park Facility Name,Descriptor,Created Date,Closed Date,Longitude,Latitude,Location Type,geometry,index_right,parkDistrict
0,NaN,Snow or Ice,12/31/2010 09:04:48 PM,01/03/2011 12:03:59 PM,-73.931120,40.668798,Park,POINT (1003357.999975349 182945.0143717242),29,B-09
3,NaN,Snow or Ice,12/31/2010 03:36:37 PM,01/03/2011 09:41:24 AM,-73.962835,40.688556,Park,POINT (994556.9999903567 190138.014400504),22,B-02
4,NaN,Snow or Ice,12/31/2010 03:03:16 PM,01/03/2011 12:15:38 PM,-73.999809,40.636935,Park,POINT (984302.9999955755 171329.0143867982),32,B-12
6,NaN,Snow or Ice,12/31/2010 12:59:59 PM,01/03/2011 12:23:04 PM,-73.999456,40.609951,Park,POINT (984401.0000036418 161498.0143712223),31,B-11
7,NaN,Snow or Ice,12/31/2010 12:12:02 PM,01/03/2011 12:19:51 PM,-73.977616,40.633153,Park,POINT (990463.0000056089 169952.0143654562),34,B-14

In [123]:
def gdfToCsv(p):    
    p['lat'] = p.geometry.apply(lambda x: x.coords[0][0])
    p['lon'] = p.geometry.apply(lambda x: x.coords[0][1])
    return p.drop('geometry',1)

In [124]:
nn = gdfToCsv(nn)

In [125]:
# nn.drop(['index_right'], axis=1, inplace=1)
# nn.drop(['Latitude','Longitude'], axis=1, inplace=1)
nn.columns

Index([u'Park Facility Name',         u'Descriptor',       u'Created Date',
              u'Closed Date',          u'Longitude',           u'Latitude',
            u'Location Type',        u'index_right',       u'parkDistrict',
                      u'lat',                u'lon'],
      dtype='object')

In [110]:
ncMatched.columns

Index([u'Park Facility Name',         u'Descriptor',       u'Created Date',
              u'Closed Date',          u'Longitude',           u'Latitude',
            u'Location Type',          u'cleanName',               u'NAME',
                     u'Type',              u'valid',       u'parkDistrict',
                      u'lat',                u'lon'],
      dtype='object')

In [126]:
MatchedCalls = pd.concat([nn,ncMatched])

In [127]:
MatchedCalls.shape

(88961, 15)

In [129]:
MatchedCalls.head(4)

,Closed Date,Created Date,Descriptor,Latitude,Location Type,Longitude,NAME,Park Facility Name,Type,cleanName,index_right,lat,lon,parkDistrict,valid
0,01/03/2011 12:03:59 PM,12/31/2010 09:04:48 PM,Snow or Ice,40.668798,Park,-73.931120,NaN,NaN,NaN,NaN,29,1003357.999975,182945.014372,B-09,NaN
3,01/03/2011 09:41:24 AM,12/31/2010 03:36:37 PM,Snow or Ice,40.688556,Park,-73.962835,NaN,NaN,NaN,NaN,22,994556.999990,190138.014401,B-02,NaN
4,01/03/2011 12:15:38 PM,12/31/2010 03:03:16 PM,Snow or Ice,40.636935,Park,-73.999809,NaN,NaN,NaN,NaN,32,984302.999996,171329.014387,B-12,NaN
6,01/03/2011 12:23:04 PM,12/31/2010 12:59:59 PM,Snow or Ice,40.609951,Park,-73.999456,NaN,NaN,NaN,NaN,31,984401.000004,161498.014371,B-11,NaN

In [131]:
MatchedCalls[['Closed Date',
              'Created Date',
              'Location Type',
              'NAME',
              'lat',
              'lon',
              'parkDistrict']].to_csv(PARQA + 'data/311/MatchedCalls.cav')