In [4]:
__author__ = "me"
__date__ = "2015_10_13"
%pylab inline

import pandas as pd
# import numpy as np
# import geopandas as gp

import pylab as plt
import os

import requests
s = requests.get("https://raw.githubusercontent.com/Casyfill/CUSP_templates/master/Py/fbMatplotlibrc.json").json()
plt.rcParams.update(s)



PARQA = os.getenv('PARQA')

Populating the interactive namespace from numpy and matplotlib

In [5]:
calls = pd.read_csv(PARQA +'/parqa/311/TIMESERIES/311_timeseries.csv')

In [20]:
pip = pd.read_csv(PARQA + '/parqa/311/TIMESERIES/PIP_score_timeseries.csv', index_col=0)

In [21]:
calls.head(2)

  parkDistrict  2010  2011  2012  2013  2014  2015
0         B-01   363   353   374   397   564   619
1         B-02   339   396   282   463   566   614

In [22]:
pip.head(3)

,District,score_type,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,B-01,Naive Normalized Score,0.849094,0.894602,0.897871,0.887889,0.915921,0.910679,0.870868,0.892876,0.879027,0.898363,0.886752,0.845868
1,B-01,Area Normalized Score,0.826137,0.855885,0.884228,0.864969,0.904682,0.869999,0.828230,0.845600,0.831587,0.857619,0.869625,0.819506
2,B-01,Amenities & Area Normalized Score,0.811959,0.823517,0.893130,0.858930,0.907962,0.857665,0.809202,0.825962,0.831345,0.823218,0.854233,0.824545

In [23]:
pip = pip[pip.score_type == 'Amenities & Area Normalized Score'][['District']+ [str(x) for x in xrange(2004,2016)]]
pip = pip.rename(columns={'District':'parkDistrict'})
pip.head()

,parkDistrict,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
2,B-01,0.811959,0.823517,0.893130,0.858930,0.907962,0.857665,0.809202,0.825962,0.831345,0.823218,0.854233,0.824545
5,B-02,0.823093,0.887942,0.856790,0.885776,0.904120,0.882588,0.839114,0.879936,0.895369,0.888944,0.887673,0.873778
8,B-03,0.772929,0.769932,0.839572,0.873796,0.883658,0.866582,0.828191,0.793455,0.781544,0.780935,0.843759,0.793568
11,B-04,0.724969,0.902122,0.759681,0.846704,0.887488,0.835833,0.863949,0.879248,0.906519,0.811015,0.838412,0.844664
14,B-05,0.838465,0.802311,0.770706,0.843047,0.819823,0.687486,0.932864,0.854458,0.774530,0.836229,0.773768,0.888699

In [61]:
def normalise_timeseries(df, label='parkDistrict'):
    '''normalise timeseries seeing everything 
       but label as part of it'''
    
    cols_to_norm = [x for x in row.index if x!=label ]
    survey_data[cols_to_norm] = survey_data[cols_to_norm].apply(lambda x: (x - x.mean()) / (x.max() - x.min()))
#     print cols_to_norm
#     print cols_to_norm
#

In [62]:
pip.head(2).apply(normalise_timeseries, axis=1)

['2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
['2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']

2    None
5    None
dtype: object